{% extends 'base.html' %}

{% block content %}

<header class="standard-header">
	<div class="container">
		
	</div>
</header>

<section class="my-auto" id="about">
  <div class="container text-center mt-2 pt-5">
  	<h2><u>À propos</u></h2>
  	<p>FishingDay est une application web réalisée dans le cadre d'un projet étudiant. <br/>
  	Cette application a pour vocation de donner des informations utiles afin de préparer une sortie de pêche en mer. <br/>
  	Des améliorations seront surement apportées avec le temps.</p>

  </div>
	
</section>

{% endblock %}