{% extends 'base.html' %}

{% block content %}

<header class="standard-header">
	<div class="container">
		
	</div>
</header>

<section class="my-auto" id="about">
  <div class="container text-center mt-2 pt-5">
  	<h2><u>À propos</u></h2>
  	<p>FishingDay est une application web réalisée dans le cadre d'un projet étudiant. <br/>
  	Cette application a pour vocation de donner des informations utiles afin de préparer une sortie de pêche en mer. <br/>
  	Des améliorations seront surement apportées avec le temps.</p>
    <p>FishingDay est encore en construction et nécéssite donc d'être utilisé avec précaution et sens critiques. <br/>
      Les données indiquées ne sont pas toujours exactes et ne doivent donc en aucun cas être utilisées pour la navigation. <br/>
      L'équipe du site se dégage de toute responsabilité concernant l'utilisation faite des données affichées par FishingDay.
    </p>

  </div>
	
</section>

{% endblock %}