{% extends 'base.html' %}

{% block content %}

<!-- Header -->
<header class="masthead">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center"  id="zoneTitre">
      <h1 class="mx-auto my-0 text-uppercase">Fishing Day</h1>
      <h2 class="mx-auto mt-1 mb-4">Mettez toutes les chances de votre côté !</h2>
      <form class="form-inline d-flex mb-2" method="post" action="{{ url_for('main.result') }}">
        <!-- <input type="text" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputSearch" placeholder="Où voulez-vous pêcher ? " method="post" name="location"> -->
        {{ form.hidden_tag() }}
        {{ form.location(class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0", placeholder="Où voulez-vous pêcher ? ") }}
        {{form.submit(class="btn btn-primary js-scroll-trigger")}}
      </form>

      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
          <p class="form-error">{{ message }}</p>
          {% endfor %}
        {% endif %}
      {% endwith %}

    </div>
  </div>
</header>

<div id="container">
<!-- Projects Section -->
<section id="projects" class="projects-section bg-light">
  <div class="container">

    <div class="row justify-content-center">
      <div class="col-lg-12">
        <h2 class="text-center mb-5">FishingDay vous fourni les informations essentielles pour votre session de pêche en mer : </h2>
      </div>
    </div>

    <!-- Project One Row -->
    <div class="row justify-content-center no-gutters mb-1 mb-lg-0">
      <div class="col-lg-6 my-auto mx-auto">
        <img class="img-fluid" src="{{ url_for('static', filename='img/meteo.png') }}" alt="">
      </div>
      <div class="col-lg-6">
        <div class="bg-project text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-left">
              <h4 class="text-white">Meteo</h4>
              <p class="mb-0 text-white-50">L'essentiel de la météo du jour : Ensoleillement, température, direction du vent...</p>
              <hr class="d-none d-lg-block mb-0 ml-0">
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Project Two Row -->
    <div class="row justify-content-center no-gutters mb-1 mb-lg-0">
      <div class="col-lg-6 my-auto mx-auto">
        <img class="img-fluid" src="{{ url_for('static', filename='img/tides.png') }}" alt="">
      </div>
      <div class="col-lg-6 order-lg-first">
        <div class="bg-project text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-right">
              <h4 class="text-white">Marée</h4>
              <p class="mb-0 text-white-50">Les horaires des marées.</p>
              <hr class="d-none d-lg-block mb-0 mr-0">
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Project Three Row -->
    <div class="row justify-content-center no-gutters mb-1 mb-lg-0">
      <div class="col-lg-6 mx-auto my-auto mx-auto">
        <img class="img-fluid" src="{{ url_for('static', filename='img/map.png') }}" alt="">
      </div>
      <div class="col-lg-6">
        <div class="bg-project text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-left">
              <h4 class="text-white">Fonds Marins</h4>
              <p class="mb-0 text-white-50">La topographie marine de la zone.</p>
              <hr class="d-none d-lg-block mb-0 ml-0">
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<!-- Signup Section -->
<section id="signUp" class="signup-section">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8 mx-auto text-center">

        <h2 class="mb-5 text-white">Créez un compte pour retrouver vos recherches favorites.</h2>
          <a class="btn btn-primary text-white mx-auto" href="{{ url_for('main.register') }}">S'inscrire</a>
      </div>
    </div>
  </div>
</section>


  </div>

{% endblock %}
