{% extends 'base.html' %}

{% block content %}

<header class="standard-header">
	<div class="container">
		
	</div>
</header>

<section class="my-auto" id="legal">
  <div class="container text-center mt-2 pt-5">

	<h2><u>Informations générales</u></h2>
	<p>Conception : <a href="https://www.linkedin.com/in/ronan-le-hay-3bb64b14a/"></a>Ronan LE HAY</p>
	<p>Thème utilisé : <a href="https://startbootstrap.com/template-overviews/grayscale/">Grayscale</a>.</p>
	<p>Hébergement : <a href="https://www.heroku.com/">Heroku</a>.</p>
	<hr width="50%"></hr>
	<h2><u>Données utilisées</u></h2>
	<h3>Météo</h3>
	<p>Les données météorologiques utilisées par FishingDay proviennet du site <a href="https://openweathermap.org/">OpenWeatherMap</a>.</p>
	<h3>Horaires des marées</h3>
	<p>Le calcul des horaires des marées est effectué par le site <a href="https://www.worldtides.info/">WorldTides</a>.</p>
	<h3>Carte des fonds</h3>
	<p>La carte marine affichée est fournie par le site <a href="https://www.navionics.com">Navionics</a>.</p>
  </div>


</section>

{% endblock %}